# Node modules
node_modules/
*/node_modules/

# Next.js build output
.next/
out/
build/

# Fastify / TS build output
dist/

# Env files (Crucial: do not commit turso tokens)
.env
.env.*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Runtime files
nodes.json
npm-debug.log*

# OS / IDE
.DS_Store
.vscode/
.idea/
.vercel/

# SQL server DB MDF/LDF if any
*.mdf
*.ldf
*.bak
